<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.battletechclusterhits">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/cluster_hit_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/cluster_hit_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ShortRangeMissileEntryActivity"
            android:parentActivityName=".MissileTypeActivity" />
        <activity
            android:name=".AdvancedTacticalMissileEntryActivity"
            android:parentActivityName=".MissileTypeActivity" />
        <activity
            android:name=".MediumRangeMissileEntryActivity"
            android:parentActivityName=".MissileTypeActivity" />
        <activity
            android:name=".LongRangeMissileEntryActivity"
            android:parentActivityName=".MissileTypeActivity" />
        <activity
            android:name=".HyperAssaultGaussEntryActivity"
            android:parentActivityName=".BallisticTypeActivity" />
        <activity
            android:name=".RotaryACEntryActivity"
            android:parentActivityName=".BallisticTypeActivity" />
        <activity
            android:name=".UltraACEntryActivity"
            android:parentActivityName=".BallisticTypeActivity" />
        <activity
            android:name=".SIlverBulletGaussEntryActivity"
            android:parentActivityName=".BallisticTypeActivity" />
        <activity
            android:name=".LBXEntryActivity"
            android:parentActivityName=".BallisticTypeActivity" />
        <activity
            android:name=".AutomaticClusterHitActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".ManualClusterHitActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".BallisticTypeActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MissileTypeActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>